body{
    background:#eef3f9;
    font-family: "Segoe UI", sans-serif;
}

h1{
    font-weight:700;
    color:#0f172a;
}

.card{

    border:none;
    border-radius:18px;

    transition:0.3s ease;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.card:hover{

    transform:translateY(-6px);

}

.metric-card{

    text-align:center;

    padding:20px;

}

.metric-title{

    color:#64748b;

    font-size:15px;

    margin-bottom:10px;

}

.metric-value{

    font-size:30px;

    font-weight:700;

    color:#2563eb;

}

.section-card{

    padding:25px;

}

.section-title{

    font-size:22px;

    font-weight:700;

    margin-bottom:20px;

}

.table td{

    padding:10px;

}

.table th{

    width:50%;

    color:#555;

}

#chart{

    min-height:650px;

}

.btn-primary{

    border-radius:12px;

    padding:12px;

}

.form-control{

    border-radius:12px;

    padding:12px;

}

.spinner-border{

    width:3rem;

    height:3rem;

}

.buy{

    color:green;

    font-weight:bold;

}

.sell{

    color:red;

    font-weight:bold;

}

.neutral{

    color:orange;

    font-weight:bold;

}